<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WLP_Internet_Browser.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WLP_Internet_Browser.My.MySettings>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://Google.com</string>
                        <string>http://YouTube.com</string>
                        <string>http://Bing.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Homepage" serializeAs="String">
                <value>http://www.google.com</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrivateBrowsing" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="Colour" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Blank History Item (DO NOT DELETE)</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WLP_Internet_Browser.My.MySettings>
    </userSettings>
</configuration>
