<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPRINGBOARD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <SPRINGBOARD.My.MySettings>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>https://www.duckduckgo.com/</string>
                        <string>https://www.windowslogic.co.uk/</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Homepage" serializeAs="String">
                <value>https://windowslogic.co.uk</value>
            </setting>
            <setting name="Search" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PrivateBrowsing" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Blank History Item</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Sounds" serializeAs="String">
                <value>ON</value>
            </setting>
            <setting name="CustomColour" serializeAs="String">
                <value>0, 138, 255</value>
            </setting>
            <setting name="CCE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Updates" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AdhocHandler" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DHBHUC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CB1" serializeAs="String">
                <value>C:\Users\ceo\Google Drive\Tim\My Pictures\Desktop Wallpaper\Windows 7 Legacy.png</value>
            </setting>
            <setting name="StopButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HomeButton" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="urlstore" serializeAs="String">
                <value />
            </setting>
            <setting name="dupestore" serializeAs="String">
                <value />
            </setting>
            <setting name="urlsave1" serializeAs="String">
                <value>&lt;meta http-equiv="refresh" content="0; URL=</value>
            </setting>
            <setting name="urlsave2" serializeAs="String">
                <value>"&gt;</value>
            </setting>
            <setting name="searchfor" serializeAs="String">
                <value />
            </setting>
            <setting name="wsstart" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="wswordwrap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wsfont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="wsfontcolour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="wsbackcolour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="sourcefont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="sourcewordwrap" serializeAs="String">
                <value>0</value>
            </setting>
        </SPRINGBOARD.My.MySettings>
    </userSettings>
</configuration>
